<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Page</title>
</head>
<body>
  <h1>Welcome to the Navigation Page</h1>
  <ul>
    <li><a href="https://hotel-management-apis-with-typescript-2.onrender.com/api/v1/room-types">View all Room-Types</a></li>
    <li><a href="https://hotel-management-apis-with-typescript-2.onrender.com/api/v1/rooms">View all Rooms</a></li>
    <li><a href="https://www.postman.com">Sign in to Postman to test APIs</a></li>
  </ul>
</body>
</html>
